.hello {
  font: 15px Helvetica, Arial, sans-serif;
  background: #eee;
  padding: 100px;
  text-align: center;
  transition: 100ms ease-in background;
  height: 3000px;
}
.hello:hover {
  background: #ccc;
}
